<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Ponto</title>
    </h:head>
    <h:body>
      <h:messages/>
      <h1>Novo ponto</h1>
      <h:form>
	      <fieldset>
	      	<p> Endereço: <h:inputTextarea value="#{cadastrarPontoMBean.ponto.endereco}" size="50" 
	        required="true" requiredMessage="Endereço: Campo obrigatório." /> </p>	   
	        <p>     
	        Hora de início: <h:inputText value="#{cadastrarPontoMBean.ponto.horaInicio}" size="10" 
	        required="true" requiredMessage="Hora de saída: Campo obrigatório." />
	        Hora de fim: <h:inputText value="#{cadastrarPontoMBean.ponto.horaFim}" size="10" 
	        required="true" requiredMessage="Hora de chegada: Campo obrigatório." />
	        </p>
	         <p> Motorista:
	 			<h:selectOneMenu value="#{cadastrarPontoMBean.ponto.motorista}">
   					<f:selectItems value="#{cadastrarMotoristaMBean.listagem}" /> 
				</h:selectOneMenu>	 
	         </p>
	        <p><h:commandButton value="Cadastrar" action="#{cadastrarPontoMBean.cadastrar}" />
	        <h:commandButton value="Listar" action="#{cadastrarPontoMBean.listar}" />
	        <h:commandButton value="Voltar" action="#{cadastrarPontoMBean.voltar}" immediate="true"/> </p>
	      </fieldset>
      </h:form>
    </h:body>
</html>
