<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Veículo</title>
    </h:head>
    <h:body>
      <h:messages/>
      <h1>Novo veículo</h1>
      <h:form>
	      <fieldset>
	      	<p> 
	      	Placa: <h:inputText value="#{cadastrarVeiculoMBean.veiculo.placa}" size="20" 
	        required="true" requiredMessage="Placa: Campo obrigatório." /> 
	        Ano: <h:inputText value="#{cadastrarVeiculoMBean.veiculo.ano}" size="5" 
	        required="true" requiredMessage="Ano: Campo obrigatório." />
	        </p>
			<p> Modelo: <h:inputText value="#{cadastrarVeiculoMBean.veiculo.modelo}" size="50" 
	        required="true" requiredMessage="Modelo: Campo obrigatório." /> </p>
	       <p> Chassi: <h:inputText value="#{cadastrarVeiculoMBean.veiculo.chassi}" size="50" 
	        required="true" requiredMessage="Chassi: Campo obrigatório." /> </p>
	 		
	        <p><h:commandButton value="Cadastrar" action="#{cadastrarVeiculoMBean.cadastrar}" />
	        	<h:commandButton value="Listar" action="#{cadastrarVeiculoMBean.listar}" immediate="true"/>
	        <h:commandButton value="Voltar" action="#{cadastrarVeiculoMBean.voltar}" immediate="true"/> </p>
	      </fieldset>
      </h:form>
    </h:body>
</html>
