<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Cadastro de Táxi</title>
    </h:head>
    <h:body>
    	<h1>Sistema de Cadastro de Taxi</h1>
    	<hr/>
    	<h2>Operações:</h2>
    	<h:form>      		
      		<h:commandLink action="#{cadastrarMotoristaMBean.entrarCadastro}"  value="Cadastrar Motorista"/> <br/>
      		<h:commandLink action="#{cadastrarVeiculoMBean.entrarCadastro}"  value="Cadastrar Veículo"/> <br/>
      		<h:commandLink action="#{cadastrarPontoMBean.entrarCadastro}"  value="Cadastrar/listar Pontos"/> <br/>
      	</h:form>
      	<hr/>
    </h:body>
</html>
