<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Pontos</title>
    </h:head>
    <h:body>
      <h:form>
      <h:messages/>
      <h1>Lista de pontos</h1>
		<h:dataTable value="#{cadastrarPontoMBean.listagem}" var="ponto" border="1">
	  		<h:column>
    			<f:facet name="header">Endereço</f:facet>
    			#{onibus.marca}
    		</h:column>
    			<h:column>
    			<f:facet name="header">Horário de início</f:facet>
    			#{onibus.modelo}
    		</h:column>
    			<h:column>
    			<f:facet name="header">Horário de fim</f:facet>
    			#{onibus.ano}
    		</h:column>
    		<h:column>
    			<f:facet name="header">Motorista</f:facet>
    			#{onibus.empresa.razaoSocial}
    		</h:column>
    		
	  </h:dataTable>
	  <h:commandLink action="#{cadastrarPontoMBean.entrarCadastro}"  value="Voltar"/> <br/>
	  </h:form>
    </h:body>
</html>
